@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap");
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
}

.fa-arrow-left {
  position: absolute;
  padding: 1.5vw 0 0 20px;
  color: black;
  font-size: 20px;
  z-index: 9000;
}

.logo {
  padding-left: 25vw;
  width: 55%;
  max-width: 350px;
}

.header__img {
  margin-top: 10px;
  display: block;
  width: 100%;
  height: 250px;
  background-size: cover;
}

@media all and (min-width: 768px) {
  .logo {
    padding-left: 35vw;
  }
  .header__img {
    display: block;
    width: 100%;
    height: 1250px;
    background-size: cover;
    overflow: visible;
  }
}

footer {
  background-color: #353535;
  min-height: 120px;
  padding: 15px 20px;
  color: #fff;
}

footer h4 {
  font-family: Shrikhand;
  font-weight: 200;
  letter-spacing: 1px;
}

footer ul {
  list-style: none;
  text-decoration: none;
  margin-top: 15px;
  font-family: "Roboto";
  line-height: 30px;
}

footer a {
  color: white;
}

footer .fas {
  margin-right: 5px;
}

@media all and (min-width: 768px) {
  footer {
    min-height: 40px;
  }
  footer h4 {
    display: none;
  }
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    min-height: auto;
  }
  footer ul li:hover {
    font-weight: bold;
  }
}

@-webkit-keyframes dish-load {
  0% {
    color: white;
    -webkit-box-shadow: 0 10px 10px 0 white;
            box-shadow: 0 10px 10px 0 white;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes dish-load {
  0% {
    color: white;
    -webkit-box-shadow: 0 10px 10px 0 white;
            box-shadow: 0 10px 10px 0 white;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes course-animation {
  0% {
    color: white;
    border-bottom: none;
  }
  100% {
    color: black;
  }
}

@keyframes course-animation {
  0% {
    color: white;
    border-bottom: none;
  }
  100% {
    color: black;
  }
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.menu {
  background-color: #f3f3f3;
  min-height: 1000px;
  border-radius: 35px 35px 0 0;
  margin-top: -55px;
  font-family: Roboto;
}

.menu h3 {
  padding-top: 20px;
  font-weight: lighter;
  font-size: large;
  color: rgba(0, 0, 0, 0.7);
  -webkit-animation: course-animation 1350ms ease-in;
          animation: course-animation 1350ms ease-in;
}

.menu__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
}

.menu__title .title-text {
  padding-left: 30px;
  font: 13px Shrikhand;
  letter-spacing: 1px;
  margin-bottom: 0;
}

.menu__title .title-heart {
  padding: 22px 30px 0 0;
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.7);
}

.course {
  margin-left: 30px;
  border-bottom: 2px solid #99e2d0;
  -webkit-animation: course-animation 1250ms ease-in;
          animation: course-animation 1250ms ease-in;
}

.dish {
  width: 90%;
  margin: 18px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 10px;
  -webkit-box-shadow: 0 10px 10px 0 #77777721;
          box-shadow: 0 10px 10px 0 #77777721;
  overflow: hidden;
  -webkit-animation: dish-load 1000ms ease-in;
          animation: dish-load 1000ms ease-in;
  background-color: white;
}

.dish .dish__description {
  margin-top: 15px;
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  color: rgba(0, 0, 0, 0.7);
  padding-bottom: 10px;
  padding-top: 5px;
  font-size: 14px;
}

.dish .dish__description h4 {
  padding-right: 10px;
}

.dish .dish__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dish .dish__price .dish__price--euro {
  padding: 35px 10px 0 0;
  margin: 0 15px;
  font-weight: bold;
  -webkit-transition: margin-right 800ms ease-in 50ms;
  transition: margin-right 800ms ease-in 50ms;
}

.dish .dish__price .dish__price--animation {
  background-color: #99E2D0;
  text-align: center;
  padding: 22px 20px;
  width: 20px;
  margin-left: 5px;
  margin-right: -74px;
  -webkit-transition: margin-right 750ms ease;
  transition: margin-right 750ms ease;
}

.dish .dish__price .fas {
  background-color: #99E2D0;
  color: white;
  -webkit-transition: -webkit-transform 700ms ease 50ms;
  transition: -webkit-transform 700ms ease 50ms;
  transition: transform 700ms ease 50ms;
  transition: transform 700ms ease 50ms, -webkit-transform 700ms ease 50ms;
}

.dish__price:hover .dish__price--euro {
  margin-right: 5px;
}

.dish__price:hover .dish__price--animation {
  margin-right: 0;
}

.dish__price:hover .fas {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.btn-container {
  width: 100%;
  background-color: #f3f3f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 50px;
  padding-top: 30px;
}

.btn-container .restaurant__btn {
  width: 42%;
  max-height: 40px;
  max-width: 200px;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  border-radius: 50px;
  border: 2px solid #f2f2f2;
  text-decoration: none;
  text-align: center;
  padding: 20px 20px;
}

.btn-container .restaurant__btn a {
  color: white;
}

.btn-container .restaurant__btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#fface8), to(#ae80e5));
  background: linear-gradient(#fface8, #ae80e5);
  -webkit-box-shadow: 0px 10px 10px 0px rgba(12, 12, 12, 0.1);
  box-shadow: 0px 10px 10px 0px rgba(12, 12, 12, 0.1);
}

.fst-dish {
  -webkit-animation-duration: 750ms;
          animation-duration: 750ms;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

@media all and (min-width: 768px) {
  .restaurant__btn {
    margin-left: 20%;
  }
  .menu {
    max-width: 768px;
    background-color: #f6f6f6;
    min-height: 1000px;
    border-radius: 35px 35px 0 0;
    margin-top: -1000px;
    z-index: 3;
  }
}

.header__img {
  background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}
/*# sourceMappingURL=le-palette.css.map */