@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap");
footer {
  background-color: #353535;
  min-height: 120px;
  padding: 15px 20px;
  color: #fff;
}

footer h4 {
  font-family: Shrikhand;
  font-weight: 200;
  letter-spacing: 1px;
}

footer ul {
  list-style: none;
  text-decoration: none;
  margin-top: 15px;
  font-family: "Roboto";
  line-height: 30px;
}

footer a {
  color: white;
}

footer .fas {
  margin-right: 5px;
}

@media all and (min-width: 768px) {
  footer {
    min-height: 40px;
  }
  footer h4 {
    display: none;
  }
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    min-height: auto;
  }
  footer ul li:hover {
    font-weight: bold;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade-out {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(110%);
            transform: translateX(110%);
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(110%);
            transform: translateX(110%);
    opacity: 0;
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}

.loader-container {
  background-color: #9356DC;
  margin-top: -20px;
  width: 100%;
  height: 110%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 2;
  -webkit-animation: fade-out 450ms ease-in 2050ms;
          animation: fade-out 450ms ease-in 2050ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader-container .loader1 {
  -webkit-animation: rotate 2500ms ease-in;
          animation: rotate 2500ms ease-in;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.loader-container .loader1 .loader2 {
  border: 3px solid #99E2D0;
  background-color: #FF79DA;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.loader-container .loader1 .loader3 {
  border: 3px solid #99E2D0;
  background-color: #FF79DA;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: relative;
  right: 20px;
  top: 49px;
}

.loader-container .loader1 .loader4 {
  border: 3px solid #99E2D0;
  background-color: #FF79DA;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: relative;
  right: 5px;
  top: 44px;
}

.loader-container .loader1 .loader5 {
  border: 3px solid #99E2D0;
  background-color: #FF79DA;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: relative;
  left: 13px;
  top: 33px;
}

.loader-container .loader1 .loader6 {
  border: 3px solid #99E2D0;
  background-color: #FF79DA;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  position: relative;
  left: 15px;
  top: 21px;
}

* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

a {
  text-decoration: none;
}

.logo--home {
  margin: 3% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.logo--home img {
  width: 55%;
  max-width: 350px;
}

.location {
  background-color: #eaeaea;
  -webkit-box-shadow: inset 0 3px 4px #B2BEB5;
          box-shadow: inset 0 3px 4px #B2BEB5;
  color: #4c4c4c;
  margin-left: -20px;
  padding: 18px;
  font-weight: bold;
  font-size: 17px;
  text-align: center;
}

.location .fas {
  margin-right: 17px;
}

.info {
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info .header__title {
  text-align: center;
  min-width: 90%;
  font-size: 13px;
  padding: 20px;
}

.info .header__subtitle {
  margin-top: 10px;
  text-align: center;
  min-width: 100%;
  color: #4c4c4c;
  font-family: Roboto;
  font-size: 18px;
}

.info .header__subtitle p {
  max-width: 85%;
  margin-left: 7.5%;
}

.info .homepage__btn {
  margin: 30px 0 55px 0;
  width: 60%;
  max-width: 205px;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  border-radius: 50px;
  border: 2px solid #f2f2f2;
  text-decoration: none;
  text-align: center;
  padding: 20px 20px;
}

.info .homepage__btn a {
  color: white;
}

.info .homepage__btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#fface8), to(#ae80e5));
  background: linear-gradient(#fface8, #ae80e5);
  -webkit-box-shadow: 0px 10px 10px 0px rgba(12, 12, 12, 0.1);
  box-shadow: 0px 10px 10px 0px rgba(12, 12, 12, 0.1);
}

.steps {
  width: 90%;
  padding: 10% 5%;
}

.steps .steps__title {
  min-width: 80%;
  font-size: 11px;
  font-weight: 400;
}

.steps .step {
  margin-top: 20px;
  background-color: #f6f6f6;
  border-radius: 25px;
  -webkit-box-shadow: 7px 6px 6px #ccc;
          box-shadow: 7px 6px 6px #ccc;
  padding: 23px;
  width: 75%;
  max-width: 300px;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.steps .step .step-number {
  text-align: center;
  background-color: #9356dc;
  border-radius: 50%;
  padding: 3px 5px 8px 5px;
  color: white;
  width: 8px;
  height: 8px;
  margin-left: -27px;
  font-size: 12px;
}

.steps .step .fas {
  margin: 0 15px;
  color: #3c3c3c;
}

.steps .step:nth-child(4) {
  background-color: #f2eafb;
}

.steps .step:nth-child(4) .fas {
  color: #9356DC;
}

.restaurants {
  margin-top: 35px;
  background-color: #f4f4f4;
  padding: 30px 0 30px 10px;
  font-family: "Roboto";
}

.restaurants-title {
  margin: 15px;
}

.restaurants .new {
  position: relative;
  text-align: center;
  z-index: 1;
  margin-bottom: -45px;
  margin-top: 30px;
  left: 70%;
  width: 85px;
  height: 25px;
  background-color: #99e2d0;
  font-family: "Roboto";
  color: #278870;
  font-weight: bold;
  padding-top: 5px;
}

.restaurant {
  margin: 15px;
}

.restaurant .restaurant-picture {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 200px;
  background-size: cover;
}

.restaurant .under-pic {
  border-radius: 0 0 15px 15px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.restaurant .restaurant-text {
  min-width: 80%;
  padding: 10px;
}

.restaurant .restaurant-text a {
  color: black;
}

.restaurant .restaurant-heart {
  margin: 20px;
}

.restaurant .restaurant-heart .heart-f {
  color: #9356DC;
  display: none;
}

.restaurant .restaurant-heart:hover .heart-f {
  cursor: pointer;
  display: block;
  -webkit-animation: fadein 3s;
}

.restaurant .restaurant-heart:hover .heart-o {
  display: none;
}

.restaurant .full-pallette {
  background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}

.restaurant .enchanted-plate {
  background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
}

.restaurant .bastille {
  background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}

.restaurant .gourmand {
  background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}

/* Tablet */
@media all and (min-width: 768px) and (max-width: 991px) {
  .logo--home {
    margin: 8px 0;
  }
  .steps {
    padding: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .steps .steps__title {
    margin-right: 10%;
    min-width: auto;
  }
  .steps .step {
    margin-right: 9%;
  }
  .restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 10px;
  }
  .restaurants-title {
    width: 90%;
    margin: 15px;
  }
  .restaurants .restaurant {
    width: 45%;
    max-width: 500px;
  }
}

@media all and (min-width: 992px) {
  .logo--home {
    margin: 10px 0;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .logo--home {
    width: 100%;
  }
  header .location {
    width: 100%;
  }
  header .info {
    background-color: white;
    width: 45%;
  }
  header .info .header__title {
    padding-bottom: 5px;
  }
  header .info .header__subtitle {
    margin-bottom: 10px;
  }
  header .info .homepage__btn {
    padding-top: 33px;
    height: 35px;
    margin-bottom: 0;
  }
  .steps {
    background-color: white;
    width: 45%;
    padding: 1% 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .steps .steps__title {
    margin-right: 10%;
    min-width: auto;
  }
  .steps .step {
    margin-right: 9%;
  }
  .restaurants {
    margin-top: 0;
    padding-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .restaurants-title {
    width: 90%;
    margin: 15px;
    padding-left: 25px;
  }
  .restaurants .restaurant {
    width: 45%;
    max-width: 500px;
  }
}
/*# sourceMappingURL=style.css.map */