.dish{
    height: 60px;
    width: 90%;
    margin: 18px auto;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 10px 10px 0 ;
    overflow: hidden;
    .dish__description{
      margin-top: 20px;
    }
    .dish__price {
      padding-top: 35px;
      margin-left: 25px;
      font-weight: bold;
    }
}