footer {
    background-color: #353535;
    min-height: 120px;
    padding: 15px;
    color: #fff;
      ul {
      list-style: none;
      text-decoration: none;
      margin-top: 15px;
      font-family: "Roboto";
      line-height: 30px;          
      }  
      a{color: white;}
      .fas{ margin-right: 5px;}
  }
  