@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap');
@import 'restaurant-header';
@import 'footer';
@import 'mixin-btn';


$primary-color:#9356DC;
$secondary-color:#FF79DA;
$tertiary-color:#99E2D0;
$btn-color:linear-gradient(to bottom, $secondary-color, $primary-color);

$logo-font: Shrikhand;
$title-font: Shrikhand;
$text-font: Roboto;

@keyframes dish-load{
  0% {
    color: white;   
    box-shadow: 0 10px 10px 0 white;
    transform: translateY(100%);
  }
  100% {
    
    transform: translateY(0);
    
   
  }
}
@keyframes course-animation{
  0% {
    color: white;
    border-bottom:none;
  }
  
  100% {
   color: black;
  }
}


 * {
   margin: 0;
   padding: 0;
   font-family: $text-font;
 }
  a {
    text-decoration: none;
  }
  .menu{
    background-color: #f6f6f6;
    min-height: 1000px;
    border-radius: 35px 35px 0 0;
    margin-top: -55px;  
  }
 
  .menu__title {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 20px;
      .title-text{
        padding-left: 30px;
      }
      .title-heart{
        padding: 22px 30px 0 0;
      }
  }
  h3{
    animation: course-animation 1350ms ease-in;
  }
    .course {
    margin-left: 30px;
    border-bottom: 2px solid #99e2d0;   
    animation: course-animation 1250ms ease-in;   
  }
  .dish{
    height: 60px;
    width: 90%;
    margin: 18px auto;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0 10px 10px 0 #00000075;
    overflow: hidden;
    animation: dish-load 1000ms ease-in;

    .dish__description{
      margin-top: 15px;
      padding-left: 10px;
    }
    .dish__price{
      display: flex;
      
          
        .dish__price--euro {
          padding-top: 35px;
          margin: 0 25px;
          font-weight: bold;
          transition: margin-right 850ms ease-in 50ms;
        }
        .dish__price--animation{
          background-color: #99E2D0;
          text-align: center;
          padding: 22px;
          width: 40px;   
          margin-right: -94px;
          transition: margin-right 1500ms ease;               
        }
        .fas{
          background-color: $tertiary-color;
          color: white;
          transition: transform 1500ms ease 100ms;
        }
    }
}  
 .dish__price:hover{
      
      .dish__price--euro {
        z-index: 1;
        margin-right: 5px;              
      }
      .dish__price--animation{
        z-index: 2;
        margin-right: 0;                
      }
      .fas{
        transform: rotate(-360deg);
      } 

    }
    .restaurant__btn{
      margin:40px 18%;
      width: 55%;
      max-width: 200px;
      @include btn;
     
    }
    .fst-dish {
      animation-duration: 750ms;
      animation-timing-function: ease-out;
    }

 
    @media all and (min-width: 768px){
    .restaurant__btn{
    margin-left: 20%;
    }
    .menu{
      max-width: 768px;
      background-color: #f6f6f6;
      min-height: 1000px;
      border-radius: 35px 35px 0 0;
      margin-top: -1000px;  
      z-index: 3;
    }
  }