.header{
    display: flex;
    padding-top: 10px;
}
.fa-arrow-left{    
  position: absolute;   
  padding: 1.5vw 0 0 20px ;
  color: black;
  font-size: 20px;
  z-index: 9000;
}  
.logo{
  padding-left: 25vw;
    max-width: 350px;
  }   


.header__img{
    // import background-image for each individual restaurant
    margin-top: 10px;
    display: block;
    width: 100%;
    height: 250px;
    background-size: cover;
}

@media all and (min-width: 768px){
  .logo{
    padding-left: 35vw;
  }
  .header__img{
  
    display: block;
    width: 100%;
    height: 1250px;
    background-size: cover;
    overflow: visible;
  }
}

